/* Maria Daan, 11243406 */

svg {
				background-color: white;
			}

/* Set style for titles */
h1 {
			color: rgb(115, 115, 115);
			font-size: 18px;
			font-family: sans-serif;
			font-weight: bold;
			margin: 0;
			padding-bottom: 10px;
}

/* Set style for map svg */
#container {
	float: left;
	width: 600px;
	margin-left: 6px;
	margin-right: auto;
	margin-top: 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

/* Set style for barchart svg */
#barchart {
	float: right;
	width: 600px;
	margin-left: 6px;
	margin-right: 80px;
	margin-top: 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

/* Set hover color */
path:hover {
	fill: rgba(8, 81, 156, 0.2);
	cursor:pointer;
}

/* Tooltip style */
.d3-tip {
	position: absolute;
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

/* Set style for bar chart */
.bar {
		fill: LightSkyBlue;
	}
.bar:hover {
		fill: LightSlateGrey;
	}
text {
		font-family: sans-serif;
	}
